<div class="home-banner">
  <h1>Max's Cocktail Bar</h1>
  <h2><%= link_to "Create your cocktail", new_cocktail_path, class:"btn btn-primary" %></h2>
</div>

<div class="container">
  <h2>All cocktails</h2>
  <ul class="list-group">
          <% @cocktails.each do |cocktail| %>
            <li class="list-group-item">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </li>
          <% end %>
        </ul>

  <%= link_to "Add a cocktail", new_cocktail_path, class:"btn btn-primary" %>
</div>
